[submodule "ic-product"]
	path = ic-product
	url = git@github.com:nguyentruongtuan/ic-product.git
[submodule "ic-api"]
	path = ic-api
	url = git@github.com:nguyentruongtuan/ic-api.git
[submodule "ic-logger"]
	path = ic-logger
	url = git@github.com:nguyentruongtuan/ic-logger.git
